@import "tailwindcss";

:root {
  --primary-color: #003173;
  --secondary-color: #55CEE3;
  --primary-linear-gradient-color: transparent linear-gradient(90deg, #003173 1%, #55CEE3 99%) 0% 0% no-repeat padding-box;
}

.container {
  padding: 0px 20px;
  max-width: 85%;
  margin: 0px auto;
}

.primary-linear-gradient {
  background: var(--primary-linear-gradient-color);
}

.primary-text-color {
  color: var(--primary-color);
}

.secondary-text-color {
  color: var(--secondary-color);
}

/* section first heading part */
.section-first-heading {
  font-size: 2rem;
  color: #010535;
  letter-spacing: 0px;
  font-weight: bold;
}

/* section second heading part   */
.section-second-heading {
  font-size: 2rem;
  font-weight: bold;
  background: var(--primary-linear-gradient-color);
  /* ✅ Standard syntax */
  background-clip: text;
  /* ✅ Safari / Chrome support */
  -webkit-background-clip: text;
  /* ✅ Make the text reveal the gradient */
  color: transparent;
  -webkit-text-fill-color: transparent;
}

/* description overall */
.section-description {
  color: #010535;
  font-size: 0.9rem;
}

/* short about section at the top */
.about-section {
  color: #010535a9;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
}

.smooth-scaling-icon {
  transition: transform 0.3s ease-in-out !important;
}

.smooth-scaling-icon:hover {
  transform: scale(1.19) !important;
}

.smooth-scaling-text {
  transition: all 0.2s ease-in-out !important;
}

.smooth-scaling-text:hover {
  transform: scale(1.05) !important;
}

/* Button Normal state */
.ant-btn.ant-btn-variant-solid.ant-btn-primary.primary-btn {
  padding: 20px !important;
  border-radius: 25px;
  background: var(--primary-linear-gradient-color) !important;
  background-size: 200% 200%;
  background-position: 0% 0%;
  border: none !important;
  box-shadow: none !important;
  transition: all 1s ease-in-out;
}

/* Button Hover state */
.ant-btn.ant-btn-variant-solid.ant-btn-primary.primary-btn:hover {
  background: transparent linear-gradient(90deg, #54CDE2E5 10%, #003173E5 100%) 0% 0% no-repeat padding-box !important;
}

.ant-btn-variant-outlined.secondary-btn {
  padding: 20px !important;
  border-radius: 25px;
  background: white !important;
  color: var(--primary-color);
  border: none !important;
  box-shadow: none !important;
}

/* header */
header {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  background: #fff;
}

/* footer */
footer {
  background: url('../assets/images/footerBg.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

/* home */

/* hero section ========= */
.hero-section {
  position: relative;
  height: 80vh;
  width: 100%;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  /* adjust darkness */
  z-index: 1;
}

.hero-content {
  position: absolute;
  z-index: 2;
  color: white;
}


/* partners collection section ======= */
.partners-collection .ant-tabs-tab-btn {
  display: flex;
  align-items: center;
}

.partners-collection .ant-tabs-nav-list {
  flex-wrap: wrap !important;
  gap: 10px !important;
}

.partners-collection .ant-tabs .ant-tabs-tab+.ant-tabs-tab {
  margin: 0px !important;
}

.partners-collection .ant-tabs-tab-btn {
  padding: 4px !important;
  transition: transform 0.8s ease-in-out;
  font-size: 1rem;
}

.partners-collection .ant-tabs-tab-btn:hover {
  transform: scale(1.08);
}

.partners-collection .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  box-shadow: none !important;
  text-shadow: none !important;
}

/* in case of hover */
.partners-collection .ant-tabs .ant-tabs-tab[data-node-key="Private Cloud"]:hover {
  color: #FBBD01 !important;
}

.partners-collection .ant-tabs .ant-tabs-tab[data-node-key="Cyber Security"]:hover {
  color: #E9012D !important;
}

.partners-collection .ant-tabs .ant-tabs-tab[data-node-key="Network & Security"]:hover {
  color: #00B050 !important;
}

.partners-collection .ant-tabs .ant-tabs-tab[data-node-key="Application Delivery & Monitoring"]:hover {
  color: #2D88CA !important;
}

/* in case of active tab item */
.partners-collection .ant-tabs .ant-tabs-tab[data-node-key="Private Cloud"].ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #FBBD01 !important;
  text-decoration: none;
}

.partners-collection .ant-tabs .ant-tabs-tab[data-node-key="Cyber Security"].ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #E9012D !important;
  text-decoration: none;
}

.partners-collection .ant-tabs .ant-tabs-tab[data-node-key="Network & Security"].ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #00B050 !important;
  text-decoration: none;
}

.partners-collection .ant-tabs .ant-tabs-tab[data-node-key="Application Delivery & Monitoring"].ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #2D88CA !important;
  text-decoration: none;
}

/* custom css for underline bar */
.partners-collection .ant-tabs .ant-tabs-tab[data-node-key="Private Cloud"].ant-tabs-tab-active~.ant-tabs-ink-bar {
  background-color: #FBBD01 !important;
}

.partners-collection .ant-tabs .ant-tabs-tab[data-node-key="Cyber Security"].ant-tabs-tab-active~.ant-tabs-ink-bar {
  background-color: #E9012D !important;
}

.partners-collection .ant-tabs .ant-tabs-tab[data-node-key="Network & Security"].ant-tabs-tab-active~.ant-tabs-ink-bar {
  background-color: #00B050 !important;
}

.partners-collection .ant-tabs .ant-tabs-tab[data-node-key="Application Delivery & Monitoring"].ant-tabs-tab-active~.ant-tabs-ink-bar {
  background-color: #2D88CA !important;
}


/* for customers */

/* in case of hover */
.partners-collection .ant-tabs .ant-tabs-tab[data-node-key="Banking & Finance"]:hover {
  color: #FBBD01 !important;
}

.partners-collection .ant-tabs .ant-tabs-tab[data-node-key="Energy, Oil & Gas"]:hover {
  color: #E9012D !important;
}

.partners-collection .ant-tabs .ant-tabs-tab[data-node-key="Telecommunication"]:hover {
  color: #00B050 !important;
}

.partners-collection .ant-tabs .ant-tabs-tab[data-node-key="Transportation And Logistics"]:hover {
  color: #2D88CA !important;
}

/* in case of active tab item */
.partners-collection .ant-tabs .ant-tabs-tab[data-node-key="Banking & Finance"].ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #FBBD01 !important;
  text-decoration: none;
}

.partners-collection .ant-tabs .ant-tabs-tab[data-node-key="Energy, Oil & Gas"].ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #E9012D !important;
  text-decoration: none;
}

.partners-collection .ant-tabs .ant-tabs-tab[data-node-key="Telecommunication"].ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #00B050 !important;
  text-decoration: none;
}

.partners-collection .ant-tabs .ant-tabs-tab[data-node-key="Transportation And Logistics"].ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #2D88CA !important;
  text-decoration: none;
}

/* custom css for underline bar */
.partners-collection .ant-tabs .ant-tabs-tab[data-node-key="Banking & Finance"].ant-tabs-tab-active~.ant-tabs-ink-bar {
  background-color: #FBBD01 !important;
}

.partners-collection .ant-tabs .ant-tabs-tab[data-node-key="Energy, Oil & Gas"].ant-tabs-tab-active~.ant-tabs-ink-bar {
  background-color: #E9012D !important;
}

.partners-collection .ant-tabs .ant-tabs-tab[data-node-key="Telecommunication"].ant-tabs-tab-active~.ant-tabs-ink-bar {
  background-color: #00B050 !important;
}

.partners-collection .ant-tabs .ant-tabs-tab[data-node-key="Transportation And Logistics"].ant-tabs-tab-active~.ant-tabs-ink-bar {
  background-color: #2D88CA !important;
}

/* general for all partners and customers item to scale up */
.collection-item {
  transition: transform 0.8s ease-in-out;
  cursor: pointer;
}

.collection-item:hover {
  transform: scale(1.1);
}

.services-section {
  background: url('../assets/images/servicesBg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.services-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  /* adjust darkness */
  z-index: 0.3;
}

.ant-collapse-item {
  background-color: white !important;
  margin-bottom: 10px !important;
  border-radius: 12px !important;
}

.ant-collapse-content-box {
  background: var(--primary-linear-gradient-color) !important;
  color: white !important;
  border-bottom-left-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
}

.ant-collapse-content-box p {
  color: white !important;
  font-size: 0.9rem !important;
}

.blogcard-layer {
  background: linear-gradient(0deg, #003173 10%, #55CEE3 90%) no-repeat padding-box;
}

@media (max-width: 800px) {
  .container {
    padding: 0px 10px;
    max-width: 95%;
    margin: 0px auto;
  }
}